<table class=" table">
    <tr>
        <th>Sr.No</th>
        <th>Cricketer Name</th>
        <th>T20</th>
        <th>ODI</th>
        <th>TEST</th>
    </tr>   
    <tr *ngFor="let cric of Crickets; let i=index;">
        <td>{{i+1}}</td>
        <td>{{cric.CricketName}}</td>
        <td>{{cric.T20Runs}}</td>
        <td>{{cric.ODIRuns}}</td>
        <td>{{cric.TestRuns}}</td>
        <td><button class="btn bg-info  "  routerLink = '/viewPlayer/{{i}}'>View Player</button></td>
        <td><button class="btn bg-warning">Update</button></td>
        <!-- <td><button class="btn bg-danger" style ="color: black;" >Delete Player</button></td>
    </tr> -->
    <div ><button class="btn btn-success" routerLink = '/Playerlist' >Add New Player</button></div>
    
    </table>
