<!-- <app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-ng-class></app-ng-class>
<app-two-way-binding></app-two-way-binding>
<app-ng-class1></app-ng-class1>
<app-pb1></app-pb1>
<app-twb></app-twb> -->
<!-- <app-events></app-events> -->
<!-- <app-ng-if-directive></app-ng-if-directive> -->
<!-- <app-events></app-events> -->
  <!-- <app-ng-for-practice></app-ng-for-practice> -->
  <!-- <app-ngforprod></app-ngforprod> -->
  <!-- <app-crick></app-crick> -->
 <!-- <app-player></app-player>
 <app-playerview></app-playerview> -->
 <router-outlet></router-outlet>
