        <p>Dmart</p>
<table class=" table">
    <tr><th>SR No</th>
        <th>Student Name</th>
        <th>Roll No</th>
        <th>Specilization</th>
        <th>Email</th>
        <th>Create</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let student of students; let y=index;">
        <td>{{y+1}}</td>
        <td>{{student.studentName}}</td>
        <td>{{student.rollNo}}</td>
        <td>{{student.subject}}</td>
        <td>{{student.email}}</td>
        <td><button class="btn text-bg-info  " (click) = "addStudent(y)">Add</button></td>
        <td><button class="btn bg-warning">Update</button></td>
        <td><button class="btn bg-danger" style ="color: black;" (click) = "deleteStudent(y)">Delete</button></td>
    </tr>
</table>
